.root
  padding 0 2u
  +desktop()
    padding 0

.pokemon
  background-color $color-bg-form2

.image
  width 26u
  height 26u
  resizeMode cover
  marginLeft 2u
  marginTop 2u

.controls
  margin 4u 0
  display flex
  flex-direction row

.createButton
.editButton
.deleteButton
  margin-left 2u

.deleteButton
  background-color $color-bg-red

.tags
  display flex
  flex-direction row
  margin-left -1u

.tag
  margin-left 1u