.root
  background-color $color-bg
  font-family 'Helvetica, sans-serif'
  padding 0
  min-width 360px

.content
  width 100%
  margin 0 auto
  height 1000px
  +desktop()
    max-width 980px
  +wide()
    max-width 1128px

.sidebarLine
  padding 1u
  +desktop()
    padding 0

.bg
  flex 1
  flex-direction column
  justify-content flex-start
  width 100%
  height 100%

.bars
  background-color transparent
  margin-left 1u
  +desktop()
    margin-left 0
