.root
  height 110px
  width 100%
  display flex
  flex-direction row
  align-items center
  margin-left 3u
  +desktop()
    height 140px
    margin-left 0

.text
  font-size 60px
  line-height @font-size
  font-weight 300
  color $color-green
  text-transform uppercase
  letter-spacing 16px