.root
  padding 1u 1u
  width 130px
  display flex
  flex-direction column
  align-items center
  margin 1u 1u
  background-color $color-bg-form2
.button
  width 110px
  cursor pointer
  border 1px solid $color-black
  border-radius 0
.name
  font-size 14px
.order
  margin 0
  font-size 12px
  border 1px solid $color-green
  background-color $color-bg
  width 32px
  border-radius 16px
  color $color-white
  text-align center
  

  