.root
  width 100%
  display flex
  flex-direction column
  padding 0 1u

.deka
  margin-left: -1u

.pagination
  padding 1u
  display flex
  justify-content center
  background-color $color-bg-form2

.filter
  padding 1u
  background-color $color-bg-form2

.searchInput
  width 150px

.searchBtn
  width 32px

.multi
  margin-left 2u
  width 350px