.root
  width 100%
  padding 4u 3u
  background-color $color-bg-form2

.input
  margin-top 3u
  opacity: 0.8

.multi
  margin-top 3u

.textarea
  margin-top 2u
  opacity: 0.8

.footer
  margin-top 2u
  display flex
  flex-direction row
  justify-content flex-end

.button
  width 110px
  cursor pointer
  border 1px solid $color-black
  border-radius 0