
.root
  background-color $color-bg-menu2
  height 100%
  display flex
  flex-direction column

.logo
  width 100%
  display flex
  flex-direction row
  justify-content center
  margin-top 2u

.menu
  display flex
  flex-direction column
  align-items center
  width 100%
  margin-top 6u

.mi
  padding 0
  margin-top 4u
  border 3px solid $color-green2
  background-color $color-bg-button2
  border-radius 14px
  padding 20px

.m
  text-transform uppercase
  color $color-green2
  font-size 32px
  text-decoration none
