@require '../node_modules/@startupjs/ui/styles/index.styl'

$color-bg = rgb(0,81,8)
$color-bg-form2 = rgba(247,247,247,0.8)
$color-bg-button2 = rgb(254,238,190)
$color-bg-menu2 = rgb(215,238,251)
$color-bg-red = rgb(223, 18, 28)

$color-green = rgb(0,81,8)
$color-green2 = rgb(0,80,38)

$color-black = rgb(0,0,0)
$color-white = rgb(255,255,255)
$color-red = rgb(204,0,0)





